@import "tailwindcss";


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.secondary {
    background-image:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 1)),
        url('./images/background.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow:
        0 2px 6px rgba(247, 242, 242, 0.8),
        0 0 20px rgba(232, 226, 226, 0.6);
}